# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist/
.vite/

# Operating system files
.DS_Store
Thumbs.db

# Optional: ignore the environment files
.env
.env.local
.env.*.local

# Ignore IDE files
.vscode/
.idea/

# Python virtual environment
venv/

# Python bytecode
*.pyc
*.pyo
__pycache__/

.env